<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.unnsvc.erhena.platform.PlatformStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="http://schema.unnsvc.com/rhena/module.xsd">
         <uri
               id="http://schema.unnsvc.com/rhena/module.xsd"
               name="http://schema.unnsvc.com/rhena/module.xsd"
               uri="platform:/plugin/com.unnsvc.rhena.core/META-INF/schema/module.xsd">
         </uri>
      </catalogContribution>
   </extension>

</plugin>
