<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.unnsvc.erhena.core.nature"
         name="eRhena Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.unnsvc.erhena.core.nature.RhenaNature">
         </run>
      </runtime>
      <builder
            id="com.unnsvc.erhena.core.builder.RhenaBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <category
            name="Rhena project nature commands"
            id="com.unnsvc.erhena.core.nature.category">
      </category>
      <command
            name="Configure eRhena Project"
            defaultHandler="com.unnsvc.erhena.core.commands.ConfigureRhenaProject"
            categoryId="com.unnsvc.erhena.core.nature.category"
            id="com.unnsvc.erhena.core.nature.configureRhenaProject">
      </command>
      <command
            categoryId="com.unnsvc.erhena.core.run.category"
            defaultHandler="com.unnsvc.erhena.core.commands.RunRhenaCommand"
            id="com.unnsvc.erhena.core.run.runCommand"
            name="Run Rhena Command">
      </command>
      <category
            id="com.unnsvc.erhena.core.run.category"
            name="ERhena">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.unnsvc.erhena.core.nature.configureRhenaProject"
               label="Unconfigure eRhena Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="com.unnsvc.erhena.core.nature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.unnsvc.erhena.core.nature.configureRhenaProject"
               label="Convert to eRhena Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="com.unnsvc.erhena.core.nature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="ERhena Commands">
            <dynamic
                  class="com.unnsvc.erhena.core.commands.RunCommandDynamic"
                  id="com.unnsvc.erhena.core.run.runCommandDynamic">
            </dynamic>
            <separator
                  name="com.unnsvc.erhena.core.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.unnsvc.erhena.core.run.runCommand"
                  label="Run Rhena Command"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.unnsvc.erhena.core.nature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="com.unnsvc.erhena.core.builder.RhenaBuilder"
         name="eRhena Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.unnsvc.erhena.core.builder.RhenaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="platform:/plugin/com.unnsvc.erhena.branding/icons/rhena_nature_decorator.gif"
            id="com.unnsvc.erhena.core.nature.decorator"
            natureId="com.unnsvc.erhena.core.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.unnsvc.erhena.core.classpath.RhenaClasspathContainerInitializer"
            id="com.unnsvc.erhena.core.classpathContainer">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.unnsvc.erhena.core.classpath.RhenaFrameworkClasspathContainer"
            id="com.unnsvc.erhena.core.frameworkClasspathContainer">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.unnsvc.erhena.core.PlatformStartup">
      </startup>
   </extension>

</plugin>
