<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.unnsvc.erhena.category"
            name="eRhena Views">
      </category>
      <view
            category="com.unnsvc.erhena.category"
            class="com.unnsvc.erhena.statusview.LoggingView"
                        icon="platform:/plugin/com.unnsvc.erhena.branding/icons/rhena_16x16.gif"
            id="com.unnsvc.erhena.statusview.loggingView"
            name="eRhena Logger">
      </view>
   </extension>
</plugin>  
