<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.unnsvc.erhena.preferences.rhenaconfig.RhenaConfigurationPage"
            id="com.unnsvc.erhena.preferences.rhenaconfig.RhenaConfigurationPage"
            name="Rhena">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.unnsvc.erhena.preferences.rhenaconfig.RhenaConfigurationPreferencesInitializer">
      </initializer>
   </extension>

</plugin>
